body{
   
    background: #FFFFFF;
    margin: 0;
    padding:0;
}
.banner{
    background-image: url("../images/banner.png") ;
    height: auto;
    max-width: 100%;
    width: auto;
}
.container{
    max-width: 1300px;
}
.searcher{
    height: 54px;
    max-width: 702px;
    width: auto;
    border-radius: 3px;
    background: #F3f3f3;
    display: flex;
    padding: 2px;
}
#select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}
#select ul{
    position: absolute;
    top:120%;
    left: 0;
    list-style-type: none;
    width: 100%;
    background: #F3f3f3;
    color: #555;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;

}
#select ul li {
    padding: 10px 20px;
    cursor: pointer;
    text-align:left ;
}
#select ul.open{
    max-height: 300px;
    padding: 0;
}
.searcher input{
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    background: #F3f3f3;
    border-left: 1px solid #BDBDBD;
}
p{
    padding: 0;
    margin: 0;
}
.font-1{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4F4F4F;
}
.font-2{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.font-3{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}
.font-4{    
font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #4F4F4F;
}
.icon-button{
    position: relative;
    display: flex;
    justify-content: center;
    width: 41px;
    height: 42px;
    align-items: center;
}
.human{
    position:absolute;
    width: 29px;
    height: 29px;
    right: -10px;
    top: -15px;
    background: #F38125;
    border-radius: 5px;
    z-index: 10;
}
.category-button{
    width: 229px;
    height: 46px;

    background: #F38125;
    border-radius: 3px;;
}
.list-1{
    list-style-type: none;
}
.nav-link{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F !important;
}
.fish-banner{
    background-image: url("../images/fish-banner.png") ;
    background-repeat: no-repeat;
    background-position: center top;
    height: 458px;
    width: auto;
    max-width: 100%;
    border-radius: 25px;
}
.lemon-banner{
    background-image: url("../images/lemon-banner.png") ;
    background-repeat: no-repeat;
    background-position: center top;
    height: 458px;
    width: auto;
    max-width: 100%;
    border-radius: 25px;
}
.font-5{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    color: #F2F2F2;
}

.font-6{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #E0E0E0;
}
.shop-button{
    width: 139px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 3px;
}
.font-7{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.font-8{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;    
    color: #F2F2F2;
}
.font-9{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #E0E0E0;

}
.font-10{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
}
.font-11{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #828282;
}
.font-12{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}
.font-13{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #828282;    
    padding: 0 !important;
    margin: 10px 0 0 0;
}
.font-14{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    padding: 0 !important;
    margin: 0 ;
}
.font-15{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}
.font-16{
    font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 86px;

color: #FB532C;
text-align: center;
margin: 30px 20px 10px 20px;
}
.footer-final p {
    margin: 5px auto !important;
}
.font-17{
max-width: 225px;
margin: 0px 25px 20px 25px;
word-wrap: break-word;
font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #333333;
}
.font-18{
    font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.font-19{
    font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
color: #BDBDBD;
}
.font-20{
    font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #4F4F4F;
}
.font-21{
    font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #6D9A0C;
}
.font-22{
    font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #6D9A0C;
}
.font-23{
    font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;

color: #F38125;
}
.font-24{
    font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
word-wrap: break-word;
color: #333333;
}
.font-25{
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height:  20px ;
    text-align: center;
    color: #333333;
}
.font-26{
    font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #333333;
}
.font-27{
    font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #828282;
}
.category{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.category-bar{
    width: 179px;
    height: 242px;
    background: #F7F7F7;
    border-radius: 10px;
    margin: 10px;
}
.category-bar:hover{
    background: #FFFFFF;
box-shadow: -4px 25px 40px rgba(0, 0, 0, 0.05);
}
.nav-category{
    height: 26px;
    width: 26px;
    background: #F7F7F7;
    border-radius: 5px;
}
.nav-category:hover{
    background: #F38125;
}
.category-header{
    display: flex;
    justify-content: space-between;
}
.nav-button{
    display: flex;
    justify-content: space-around;
}
.browser-category{
    margin-top: 50px;
    width: auto;
    max-width: 100%;

}
.expire-countdown{
    max-width: 228px;
    min-width: 175px;
    width: 90%;
    height: 44px;
    background: #FB532C;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
.register{
    background-image: url("../images/register.png") ;
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 389.5px;
    height: 559px;
    text-align: center;
    padding-top: 40px;
}
.register input{
    height: 49px;
    min-width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin: 5px 0;
}
.register input#mailing {
    padding: 15px;
    background-image: url("../images/mail-icon.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    text-indent: 40px;
}

.register input#password {
    padding: 15px;
    background-image: url("../images/lock-icon.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    text-indent: 40px;
}

.register input#retypepass {
    padding: 15px;
    background-image: url("../images/repeat-icon.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    text-indent: 40px;
}
.register-now{
    max-width: 259px;
height: 48px;
width: 100%;
background: #F38125;
border-radius: 5px;
margin: 30px 0;
}

.top-saver-bar .register-now{
    max-width: 259px;
    height: 48px;
    width: 70%;
    background: #F38125;
    border-radius: 5px;
    margin: 30px 0;
}
.register .register-now{
    margin: 30px auto;
}
.top-saver-bar{
    padding-top: 40px;
    width: 305px;
    height: 578px;
}
.ratings{
    display: flex;
    justify-content: flex-start;
}

.number span {cursor:pointer; }
.number{
    width: 70px;
height: 36px;
border: 1px solid #BDBDBD;

}
.minus, .plus{
    width:10px;
    height:20px;
vertical-align: middle;
text-align: center;
padding: 0 5px;
font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* Gray 1 */

color: #333333;
}
.number input{
    border: none !important;
    height:34px;
width: 26px;
text-align: center;
font-size: 26px;
vertical-align: middle;
    outline:none;font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Gray 1 */
    
    color: #333333;
}
.order-counter{
    display: flex;
    justify-content: flex-start;
}
.hoveringItem{
    display: none;
}
.top-saver-bar:hover{
    padding: 20px 30px;
}
.top-saver-bar:hover .hoveringItem{
    display: block;
}
.top-saver-bar img:nth-child(2){
    height: 125px;
    width: 182px;
}
.fav-item{
    position: relative;
    top: 0;
    left: 60%;
    display: none;
}

.top-saver-bar:hover  .fav-item{
    display: block;
}

.best-seller-bar{
    padding-top: 40px;
    width: 305px;
    height: 578px;
}
.best-seller-bar:hover{
    margin-top: -40px;
}
.best-seller-bar:hover .hoveringItem{
    display: block;
}
.best-seller-bar img:nth-child(1){
    height: 193px;
    width: 278px;
    padding: 0 12px 0 0;
}

.best-seller-bar:hover img:nth-child(1){
    padding: -10px 0px 0 0px;
}
.arranger{
    display: flex;
    justify-content: space-around;
}
.additonal-menu1{
    display: flex;
    justify-content: space-between;
}

.mockup-bar{
    max-height: 280px;
    width: auto;
    max-width: 100%;

}
.mockup-bar img{
    border-radius: 10px;
    max-width: 528px ;
    max-height: 280px;
    width: 100%;
    height: auto;
}
.additonal-menu2{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.advertise{
    max-width: 537px;
height: auto;
width: 100%;

background: #E5EAEE;
border-radius: 10px;
padding: 20px 30px 0px 30px ;
}
.footer{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 25px;
}
.footer-final{
    width: 100%;
    height: auto;
    padding: 20px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.header{
    width: 100%;
    min-height: 174px;
    background: #FFFFFF;
}
#num-support p{
    padding: 0;
    margin: 0;
    text-align: right;
}
#cart-value p{
    padding: 0;
    margin: 0;
    text-align: left;
}
.category-back{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.category-back2{
    width: 100%;
    height: auto;
    min-height: 427px;
    background-color: #FFFFFF;
}
.category-back2 .best-seller-bar{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.category-back2 .best-seller-bar:hover img:nth-child(1){
    
    background-color: #FFFFFF;
    padding-top: -20px;
}

.footer p{
    margin: 0;
}
.font-28{
    font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #828282;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
@media (max-width: 992px){
    #num-support p{
        text-align: center;
    }
    .icon-button{
        text-align: center;
        margin:15px auto;
    }
    .human{
        top: -5px;
        right: -15px;
    }
    #smallScreenMid-1{
        text-align: center;
        margin: auto;
    }
    #smallScreenMid-2{
        text-align: center;
        margin: auto;
    }
    #smallScreenMid-3{
        text-align: center;
        margin: auto;
    }
    #smallScreenMid-4{
        text-align: center;
        margin: auto;
    }

    #smallScreenMid-5{
        text-align: center;
        margin: auto;
    }

    #cart-value p{
        text-align: center;
        margin: auto;
    }
    .category{
        flex-direction: column;
    }
    .category-bar{
        margin: 10px auto;
    }
    #lineBreaker1{
        content: "\a";
        white-space: pre;
    }
    #lineBreaker2{
        content: "\a";
        white-space: pre;
    }

    #lineBreaker3{
        content: "\a";
        white-space: pre;
    }
    #featureItemSmallScreen{
        text-align: center;
    }
    #featureItemSmallScreen div{
        padding: 20px 0;
    }
    .top-saver-bar{
        margin: auto;
        text-align: center;
    }
    .best-seller-bar{
        margin: auto;
        text-align: center;
    }
    .ratings{
        display: flex;
        justify-content: center;
    }
    .additonal-menu1 {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .fish-banner{
        margin: 10px auto;
    }
    .lemon-banner{
        margin: 10px auto;
    }
    #top-saver-header-small{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
    #top-saver-nav-button{
        margin: 10px auto;
    }
    .order-counter{
        flex-direction: column;
        justify-content: center;
    }
    .number{
        margin: 0 auto;

    }
    .fav-item{
        left:80%;
    }
    .register-now{
        margin: 30px auto;
    }
    .register{
        margin: 0 auto;
    }
    .top-saver-bar .register-now{margin: 30px auto;}
    .mockup-bar{
        max-height: 100%;
        height: auto;
    }
    .mockup-bar img{
        text-align: center;
        margin: 10px auto;
    }
    .arranger{
        flex-direction: column;
        
    }
    .arranger div{
        margin: 10px auto;
    }
    .footer-final div {
        
        margin: 15px auto;
    }
    .footer-final p {
        text-align: center;
        margin: 5px auto;
    }
    
}

@media (max-width: 1400px){
    #app-store-mid{
        margin: 10px auto;
        text-align: center;
    }
    #app-store-mid2{
        margin: 10px auto;
        text-align: center;
    }
    #app-store-mid3{
        margin: 10px auto;
        text-align: center;
    }
    #app-store-mid4{
        margin: 10px auto;
        text-align: center;
    }

}